<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :バンド名 %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :代表者 %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :時間 %>
    <%= form.datetime_select(:start_date,
        discard_hour: true,
        use_month_numbers: true,
        date_separator: '-')
    %>
    <%= select_tag('s1', options_for_select(["1", "2", "3", "4", "5", "6", "7", "7'"])) %><%= '限' %>
  </div>

<%#    <div class="field">                                    %>
<%#   <%= form.label :end_date                                %>
<%#   <%= form.datetime_select :end_date, {discard_hour:true} %>
<%#  </div>                                                   %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
