<p id="notice"><%= notice %></p>

<p>
  <strong>バンド名:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>代表者:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>日付:</strong>
  <%= @event.get_date %>
</p>

<p>
  <strong>時限:</strong>
  <%= @event.define_gen %>
</p>

<%= link_to '編集', edit_event_path(@event) %> |
<%= link_to '戻る', events_path %>
